<div class="row">
    <div class="col-xs-9 col-sm-9 col-md-9  col-lg-9">
        <h5>为 {$info.name} 设置权限</h5>
    </div>
</div>
<hr/>
<div class="row">
    <div class="form-horizontal role_access_set_wrap" role="form">
        <div class="form-group">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                {if condition="$access_list"}
                {foreach $access_list as $v}
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="access_ids[]" value="{$v.id}" {if condition="in_array($v.id,$role_access_id)"}checked{/if}>
                        {$v.title}
                    </label>
                </div>
                {/foreach}
            {/if}
            </div>
        </div>
        <div class="col-xs-6 col-xs-offset-2 col-sm-6 col-sm-offset-2 col-md-6  col-md-offset-2 col-lg-6 col-sm-lg-2 ">
            <input type="hidden" name="id" value="{$info.id}">
            <button type="button" class="btn btn-primary pull-right  save">确定</button>
        </div>
    </div>
</div>

{js href="__STATIC__/js/role/access.js" /}